*.pem
*.idea/*
bin/
pkg/
hall_server/friend.bak
main/create_account.go
main/data.zip
main/debug.sh
main/dog.py
main/forbid_word
main/forbid_word.go
main/gm.xml
main/icon.png
main/list.txt
main/testMain.go
main/log/
main/*_server
!main/bingo2_server
!main/bingo_*_server
main/nohup.out
main/tables*.zip
main/tick_debug
main/upload.py
main/vscode-go
main/web_gateway
main/*_robot
test/*.go
test/test.go
test/test02/
test_server/
third/router/
third/rpc/call.bak
xlch_server/log/
third/pb/*.pb.go
main/*.exe
main/*test*
main/config.xml
main/*.tar.gz
.vscode/*
.vscode/*
main/test_dice.go
main/tables/*.dev
main/tables/*.test
main/*.log
main/local
main/bingo
main/planb
github.com/*
layeh.com/*
golang.org/*
google.golang.org/*
test/*.*
*.md
test
/tool/javaCmd
